<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="pure-category-data.html">

<link rel="import" href="pure-home.html">

<link rel="lazy-import" href="pure-what-is-cbd.html">
<link rel="lazy-import" href="/shop-cbd.html">
<link rel="lazy-import" href="/epilepsy-outreach.html">
<link rel="lazy-import" href="/the-smokeroom.html">
<link rel="lazy-import" href="/pure-404-warning.html">

<dom-module id="pure-app">
  <template>
    <firebase-app auth-domain="pure-cbd-exchange.firebaseapp.com"
      database-url="https://pure-cbd-exchange.firebaseio.com/"
      api-key=" AIzaSyDjknzPmq86mkByrT9X9cZTxNx7zavj24E">
    </firebase-app>

    <style is="custom-style">
      :host {
        display: block;
        position: relative;
        min-height: 100vh;
        --app-primary-color: #004a00;
        --app-secondary-color: #2a2a2a;
        --app-accent-color: #eee;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
        -webkit-tap-highlight-color: transparent;
        display: block;

      }

      app-header {
        color: var(--app-accent-color);
        text-align: center;
        --app-header-background-front-layer: {
          background-image: url(../../images/mountains.jpg);
        };
        --app-header-background-rear-layer: {
            background-color: var(--app-primary-color);
          };
      }

        .main-logo {
          width: 200px;
          margin-top:150px;
        }

        .condensed-logo {
          margin-top: 12px;
          margin-left: 10px;
          width:50px;
        }

        .app-drawer {
          background-color: var(--app-secondary-color);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }

        paper-icon-button {
          color: white;
          --paper-icon-button-ink-color: white;
        }

        .my-account {
          color: var(--app-primary-color);
        }

        app-drawer-layout:not([narrow]) [drawer-toggle] {
          display: none;
        }

        .cart-btn-container {
          margin-top: 17px;
          float: right;
          display: -webkit-flex;
          display: flex;
         }

         .title-container {
          height: 220px;
          width: 100%;
          padding-bottom: 15px;
          background-image: -webkit-linear-gradient(270deg, rgba(0, 74, 10, .7), rgba(0, 74, 10, .7)),url(../../images/closeHempPlants.jpg);
          background-image: linear-gradient(180deg, rgba(0, 74, 10, .7), rgba(0, 74, 10, .7)), url(../../images/closeHempPlants.jpg);
          background-position: 0px 0px, 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
         }

         .title {
           color: white;
           padding-left: 15px;
           padding-right: 13px;
           z-index: 10;
           font-family: 'Mukta Malar', sans-serif;
           font-size: 18px;
           margin-bottom: 3px;
         }

         .text-muted-small {
           color:white;
           font-size: 14px;
           opacity: 0.8;
           padding-left: 15px;
           padding-right: 13px;
           font-family: 'Montserrat';
           font-weight: 300;
         }

         .top-menu-section {
           padding-top: 6px;
           padding-bottom: 6px;
           border-bottom: 1px solid var(--app-accent-color);
         }

         .shop-menu-section {
          padding-top: 6px;
          padding-bottom: 6px;
          border-bottom: 1px solid var(--app-accent-color);
         }

         .menu-list {
          font-family: 'Mukta Malar', sans-serif;
          font-weight: bold;
          color: #333;
         }

         .menu-list-items {
          width: 100%;
         }

         .menu-icons {
           width: 21px;
           margin-top: -5px;
           padding-left: 5px;
           padding-right: 12px;
         }

         .flexed-links {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
         }

         .small-links {
          padding-left: 30px;
         }

         .smaller-icon {
           width: 15px !important;
           height: 30px;
         }

         .category-links {
          font-size: 14px;
         }

         a {
          text-decoration: none;
          color: var(--app-secondary-color);
         }

         a:active {
          color: var(--app-primary-color);
          background-color: var(--app-accent-color);
         }

         a:visited {
          color: var(--app-secondary-color)
         }

         .footer-section {
          padding-top: 23px;
          padding-bottom: 23px;
          background-color: #2a2a2a;
        }

        .footer-container {
          margin-left: auto;
          margin-right: auto;
          max-width: 940px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: baseline;
          -webkit-align-items: baseline;
          -ms-flex-align: baseline;
          align-items: baseline;
        }

        .footer-link-block {
          max-width: 100%;
          display: inline-block;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-bottom: 30px;
        }

        .image {
          width: 160px;
          margin-bottom: 10px;
        }

        .footer-text-block {
          color: #fff;
          font-family: 'Mukta Malar', sans-serif;
        }

        .first-over {
          padding-top: 0px;
          padding-left: 80px;
        }

        .footer-headers {
          font-family: 'Mukta Malar', sans-serif;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }

        .footer-lists {
          -webkit-margin-before: 0.5em;
          -webkit-margin-after: 1em;
          padding: 0;
          font-family: 'Mukta Malar', sans-serif;
          padding-left: 0;
          list-style: none;
          color: #fff;
      }

      .footer-link {
        color: #fff;
      }

      a:hover {
        color: #25ac6a !important;
      }

      .footer-link:visited {
        color: #fff;
      }

      .lower-footer-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left;
      }

      .follow-us-div {
        padding-top: 5px;
        padding-bottom: 30px;
      }

      .social-link-block {
        max-width: 100%;
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
      }

      .social-image {
        width: 25px;
      }

      .privacy-text {
        font-family: 'Mukta Malar', sans-serif;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
      }

      .privacy-text-links:visited {
        color:#fff;
      }
            
      @media (max-width: 1040px) {
        :host {
            display: block;
          }
          .main-logo {
          margin-right: 10px;
          }
          
          .app-drawer {
            background-color: var(--app-secondary-color);
            box-shadow: none;
          }

          .title-container {
            height: 135px;
          }

          .footer-container {
            padding-right: 20px;
            padding-left: 20px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
          }

          .first-over {
            padding-left: 0;
          }

          .lower-footer-container {
            padding-right: 20px;
            padding-left: 20px;
          }

          .footer-link-block {
            width: 100%;
          }

      }

    </style>

      <app-location route="{{route}}"></app-location>
      <app-route
          route="{{route}}"
          pattern="[[rootPattern]]:page"
          data="{{routeData}}"
          tail="{{subroute}}"></app-route>

      <iron-media-query query="max-width: 1040px" query-matches="{{smallScreen}}"></iron-media-query>

      <pure-category-data categories="{{categories}}"></pure-category-data>

      <pure-cart-data
        id="cart"
        cart="{{cart}}"
        num-items="{{numItems}}"
        total="{{total}}"></pure-cart-data>
    
    <app-drawer-layout>
      <app-drawer class="app-drawer" swipe-open slot="drawer">
        <div class="title-container">
          <p class="title">Pure CBD Exchange</p>
          <span class="text-muted-small">Pure CBD Isolates, Oils, Tinctures, and More</span>
        </div>
        <div class="top-menu-section">
          <div class="menu-list">
            <div><a class="flexed-links" href="/"><img class="menu-icons" src="images/home-icon.svg">Home</a></div>
            <div><a class="flexed-links" href="/what-is-cbd"><img class="menu-icons" src="images/weed-leaf.svg">What Is CBD?</a></div>
            <div><a class="flexed-links" href=""><img class="menu-icons" src="images/brain.svg">Epilepsy Outreach</a></div>
            <div><a class="flexed-links" href=""><img class="menu-icons" src="images/smoke.svg">The Smokeroom</a></div>

          </div>
        </div>
        <div class="shop-menu-section menu-list">
            <div><a class="flexed-links" href=""><img class="menu-icons smaller-icon" src="images/tincture.svg">Shop CBD</a></div>
            <iron-selector role="navigation" class="category-links" selected="[[categoryName]]" attr-for-selected="name">
                <template is="dom-repeat" items="[[categories]]" as="category" initial-count="4">
                  <div><a class="flexed-links small-links" name="[[category.name]]" href="/list/[[category.name]]">[[category.title]]</a></div>
                </template>
              </iron-selector>
        </div>
        <div class="shop-menu-section menu-list">
          <div><a class="flexed-links" href=""><paper-icon-button class="my-account" icon="social:person"></paper-icon-button>My Account</a></div>
      </div>
        <div class="top-menu-section menu-list">
            <div><a class="flexed-links" href=""><img class="menu-icons" src="../images/question.svg">Help and Feedback</a></div>
        </div>
      </app-drawer>
      <app-header-layout>
        <app-header style="height: 350px;" condenses fixed slot="header" effects="waterfall parallax-background blend-background resize-title">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div condensed-title>
              <img class="condensed-logo" src="images/whiteLogoNoCBD.svg">
              <div class="cart-btn-container">
                <a href="/cart" tabindex="-1">
                  <paper-icon-button icon="shopping-cart" aria-label$="Shopping cart: [[_computePluralizedQuantity(numItems)]]"></paper-icon-button>
                </a>
                <div class="cart-badge" aria-hidden="true" hidden$="[[!numItems]]">[[numItems]]</div>
              </div>
            </div>
          </app-toolbar>
          <app-toolbar style="height: 64px;">
            <div main-title>
              <img class="main-logo" src="images/newLogoWhite.svg">
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages 
        selected="[[page]]" 
        attr-for-selected="name" 
        fallback-selection="view404" 
        role="main">
            <!-- home view -->
            <pure-home name="home" categories="[[categories]]"></pure-home>
            <pure-what-is-cbd name="what-is-cbd"></pure-what-is-cbd>
            <!-- list view of items in a category -->
            <pure-list name="list" route="[[subroute]]" offline="[[offline]]"></pure-list>
            <!-- detail view of one item -->
            <pure-detail name="detail" route="[[subroute]]" offline="[[offline]]"></pure-detail>
            <!-- cart view -->
            <pure-cart name="cart" cart="[[cart]]" total="[[total]]"></pure-cart>
            <!-- checkout view -->
            <pure-checkout name="checkout" cart="[[cart]]" total="[[total]]" route="{{subroute}}"></pure-checkout>
      
            <pure-404-warning name="404"></pure-404-warning>
          </iron-pages>

          <div class="footer-section">
            <div class="footer-container"><a href="" class="footer-link-block"><img src="images/newLogoWhite.svg" class="image"><div class="footer-text-block">© Pure Exchange LLP 2016</div></a>
              <div class="first-over">
                <div class="footer-headers">Policies</div>
                <ul class="footer-lists">
                  <li><a href="" class="footer-link">Privacy Policy</a></li>
                  <li><a href="" class="footer-link">Terms and Conditions</a></li>
                  <li><a href="" class="footer-link">Return Policy</a></li>
                  <li><a href="" class="footer-link">Shipping Policy</a></li>
                </ul>
              </div>
              <div>
                <div class="footer-headers">Get in Touch</div>
                <ul class="footer-lists">
                  <li><a href="" class="footer-link">Help and Feedback</a></li>
                  <li><a href="" class="footer-link">Contact Us</a></li>
                </ul>
              </div>
              <div>
                <div class="footer-headers">Environmental Impact</div>
                <ul class="footer-lists">
                  <li><a href="" class="footer-link">Lab Results</a></li>
                  <li><a href="" class="footer-link">Green Servers</a></li>
                </ul>
              </div>
              <div>
                <div class="footer-headers">Shop CBD</div>
                <ul class="footer-lists">
                  <li><a href="" class="footer-link">Filler Link</a></li>
                  <li><a href="" class="footer-link">Filler Link</a></li>
                  <li><a href="" class="footer-link">Filler Link</a></li>
                </ul>
              </div>
            </div>
            <div class="lower-footer-container">
              <div class="footer-headers">Follow Us</div>
              <div class="follow-us-div"><a href="" class="social-link-block"><img src="images/facebook.svg" class="social-image"></a><a href="#" class="social-link-block"><img src="images/instagram.svg" class="social-image"></a><a href="#" class="social-link-block"><img src="images/twitter.svg" class="social-image"></a><a href="#" class="social-link-block"><img src="images/linkedin.svg" class="social-image"></a></div>
              <p class="privacy-text">By using this site, you consent that you are at least 18 years of age and that you have read and understand our <a class="privacy-text-links" href="">Return Policy</a>, <a class="privacy-text-links" href="">Privacy Policy</a>, and <a class="privacy-text-links" href="">Terms and Conditions</a>.<br><br>FDA Disclosure<br>Statements made on this website and other statements made by Pure Exchange LLP have not been evaluated by the FDA. Our products are not intended to diagnose, treat, or cure any disease. Always check with your physician before taking CBD or any other supplement.</p>
            </div>
          </div>

      </app-header-layout>
    </app-drawer-layout>

    <!-- a11y announcer -->
    <div class="announcer" aria-live="assertive">[[_a11yLabel]]</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PureApp extends Polymer.Element {
      static get is() { return 'pure-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          rootPattern: String,
          routeData: Object,
          subroute: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      constructor() {
        super();

        // Get root pattern for app-route, for more info about `rootPath` see:
        // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
        this.rootPattern = (new URL(this.rootPath)).pathname;
      }

      _routePageChanged(page) {        
        // Polymer 2.0 will call with `undefined` on initialization.
        // Ignore until we are properly called with a string.
        if (page === undefined) {
          return;
        }

        // If no page was found in the route data, page will be an empty string.
        // Deault to 'view1' in that case.
        this.page = page || 'home';

        // Close a non-persistent drawer when the page & route are changed.
 
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('pure-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(PureApp.is, PureApp);
  </script>
</dom-module>
