<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="pure-what-is-cbd">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1 style="font-size:145px;">PIZZA</h1>
      <sample-content></sample-content>
    </div>
  </template>

  <script>
    class PureWhatIsCbd extends Polymer.Element {
      static get is() { return 'pure-what-is-cbd'; }
    }

    window.customElements.define(PureWhatIsCbd.is, PureWhatIsCbd);
  </script>
</dom-module>
